/* Valiables de colores de la app */
:root{
      
    --main: #573e32;
    --sec:  #d7993e;
}

/* colores de tipografía */
.main-text{
  color: var(--main);
}

.secondary-text{
  color: var(--sec);
}

/* paleta de colores */

.main-color{
  background-color: var(--main);
}

.secondary-color{
  background-color: var(--sec);
}


/* Tamanio iconos */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Reescribiendo colores de clase Materialize */

i, input{
  color: var(--main) !important;
}

.btn{
  background-color: var(--sec) !important;
  color: white;
  border-radius: 25px !important;
}
button > i{
color:white !important;
}

.btn:hover{
background-color: var(--main) !important;
}

.header-background{
  height: 10px;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23d7993e'/%3E%3Cstop offset='1' stop-color='%23573e32'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23573e32'/%3E%3Cstop offset='1' stop-color='%23d7993e'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='7.589999999999999'%3E%3Cpath transform='translate(-155.75 35.6) rotate(22.25 1409 581) scale(1.089)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.53' transform='translate(-89 89) rotate(26.7 800 450) scale(1.045)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(80.1 -267) rotate(267 401 736) scale(1.045)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.3'%3E%3Cpath transform='translate(534 -35.6) rotate(8.9 150 345) scale(0.911)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='5.06' transform='translate(-356 -222.5) rotate(320.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-534 178) rotate(53.4 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
/* background-image: linear-gradient(#ff9d2f, #ff6126); */
background-attachment: fixed;
background-size: cover;
  }
/* Colores en formularios */

/* Cambio de colores por defecto en inputs de formularios */
/* linea 5067*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom:1px solid var(--sec) !important;
    /*border-left:1px solid #8acf00 !important;
    border-right:1px solid #8acf00 !important;
    border-top:0.5px solid #8acf00 !important;
    border-radius: 15px;*/

    -webkit-box-shadow:0 1px 0 0 var(--main) !important;
    box-shadow:0 1px 0 0 var(--sec) !important;
}

.input-field .prefix.active {
    color: var(--sec) !important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color:var(--sec)  !important;
}


/*altura Chip  */
.chip{
  height: 36px !important;
  font-size: 1.5rem;
}

/* bordes redondeados de tarjetas */
.card{
  border-radius: 15px !important;
}